/* Zen Kaku Gothic Newをimport */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

/* 全体 */
body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-size: calc(0.5em + vw*0.5);
    font-style: normal;
}
h1{
    font-weight: 300;
    font-size: 3em;
}
p{
    font: inherit;
}
/* form */
form{
    font: inherit;
    background-color: #f0f0f0;
    border-radius: 2em;
    padding: 1em;
}
div#keyword-search{
    font: inherit;
    margin: 0.5em;
    padding: 0em 1em;
}
button, summary, input[type="text"], input[type="password"]{
    font: inherit;
    border: none;
    border-radius: 1em;
    padding: 0.3em 0.6em;
    margin: 0.5em;
    background: #ffffff;
}
input[type="text"], input[type="password"]{
    width: 50%;
}
button:hover, summary:hover{
    cursor: pointer;
    background-color: #e0e0e0;
}
label{
    font: inherit;
}
/* トグルスイッチのところ */
details{
    font: inherit;
    background-color: #ffffff;
    border-radius: 1em;
    padding: 0.5em;
}
div#additional-conditions{
    font: inherit;
    margin: 0em 1em;
    padding: 0em 1em;
}
h3.condition-group{
    display: inline-block;
    font: inherit;
    font-weight: 300;
    font-size: 1.5em;
    margin: 0.3em;
    padding: 0em 0em;

}
input[type="checkbox"]{
    font: inherit;
    margin: 0em 0em 0em 1em;
}

/* 検索結果 */
div#resultDisplay{
    font: inherit;
    margin: 1em;
    padding: 1em;
    border-radius: 2em;
    background-color: #f0f0f0;
}
div.tile{
    font: inherit;
    margin: 0.5em;
    padding: 0.3em 1em;
    border-radius: 1em;
    background-color: #ffffff;
}
h2.course-title{
    font: inherit;
    font-weight: 300;
    font-size: 2em;
    margin: 0.5em;
    padding: 0em 0em;
}

table.course-info{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    /* gap: 0.5em; */
    gap: 0;
    /* width: 67%; */
    font: inherit;
    background-color: #f0f0f0;
}
table.course-info th{
    /* table header */
    font: inherit;
    width: 15em;
    text-align: left;
}
table.course-info td{
    /* table data */
    font: inherit;
    width: 15em;
    background-color: #ffffff;
}
p.course-description{
    font: inherit;
}