/* Zen Kaku Gothic Newをimport */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

/* 全体 */
body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    /* font-size: calc(0.5em + vw*0.5); */
    font-style: normal;
}
h1{
    font-weight: 300;
    font-size: 3em;
}
p{
    font: inherit;
}
a{
    font: inherit;
    text-decoration: underline;
    /* text-decoration-thickness: 0.1em; */
    /* font-style: italic; */
}
a.inherit{
    font: inherit;
    color: inherit;
}

/* 共通角丸 */
.round-space{
    font: inherit;
    margin: 1em;
    padding: 1em;
    border-radius: 2em;
    background-color: #f0f0f0;
}
.round-box{
    font: inherit;
    border: none;
    border-radius: 1em;
    padding: 0.3em 0.6em;
    /* padding: 0.5em; */
    margin: 0.5em;
    background: #ffffff;
}


/* form */
.search, .sort, .condition{
    font: inherit;
    /* margin: 0.5em; */
    padding: 0em 1.5em;
}
input.search-text{
    width: 50%;
}
input[type="checkbox"]{
    margin: 0em 0em 0em 1em;
}
button:hover, summary:hover{
    cursor: pointer;
    background-color: #e0e0e0;
}
label{
    font: inherit;
    margin: 0.5em;
}
h3.condition-group{
    display: inline-block;
    font: inherit;
    font-weight: bolder;
    font-size: 1em;
    margin: 0em;
    padding: 0.5em;
    background-color: #f0f0f0;
}

/* 検索結果 */
div.tile{
    padding: 1em 2em;
}
h2.course-title{
    font: inherit;
    font-weight: 300;
    font-size: 2em;
    margin: 0.5em;
    padding: 0em 0em;
}
table.course-info{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    /* grid-template-columns: repeat(auto-fill, maxmin(10em, 1fr)); */
    /* gap: 0.5em; */
    gap: 0;
    /* width: 67%; */
    font: inherit;
    /* background-color: #f0f0f0; */
}
table.course-info tr{
    /* table row */
    font: inherit;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    width: auto;
    height: 100%;
    border-color: #e0e0e0;
    border-width: 1px;
    border-style: solid;
    padding: 0em;
    margin: 0em;
}
table.course-info th, table.course-info td{
    /* table header and data */
    /* display: inline-block; */
    font: inherit;
    text-align: left;
    width: 10em;
    height: 100%;
    padding: 0em 0.5em;
    margin: 0em;
}
table.course-info th{
    /* table header */
    font-weight: bolder;
    background-color: #f0f0f0;
}
table.course-info td{
    /* table data */
    background-color: #ffffff;
}
h3.course-description{
    font: inherit;
    font-weight: 300;
    font-size: 1.5em;
    margin: 0.5em;
    padding: 0em 0em;
}
p.course-description{
    background-color: #f0f0f0;
    height: 10em;
    overflow: auto;
    /* scrollbar-width: thin; */
    scrollbar-width: none;
}